@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

:root {
    --space-color-primary: #002F49;
    --space-color-secondary: #1EE5DA;
    --space-color-black: #000;
    --space-color-white: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* Caribe Formulario */ 
.lv-header-input {
    background-color: var(--space-color-primary);
    color: var(--space-color-white)!important;
    border: 2px solid var(--space-color-secondary);
    height: 50px;
}
.lv-header-input::placeholder {
    color: var(--space-color-secondary)!important;
}
.lv-header-input:focus {
    box-shadow: none;
    border: 2px solid var(--space-color-white);
    background-color: transparent;
}
.lv-header-select {
    background-color: var(--space-color-primary);
    color: var(--space-color-secondary)!important;
    border: 2px solid var(--space-color-secondary);
    height: 50px;
}

/* Caribe Navegacion */
.caribe-navegacion {
    transition: all 0.5s;
    background-color: #fff;
    padding: 30px 0px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 11px 91px -21px rgba(0,0,0,0.68);
    -webkit-box-shadow: 0px 11px 91px -21px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 11px 91px -21px rgba(0,0,0,0.68);
}
.caribe-navegacion .caribe-logotipo {
    max-width: 200px;
}
.caribe-navegacion-enlaces {
    float: right;
    list-style: none;
    text-align: center;
    padding: 0;
}
.caribe-navegacion-enlaces li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.caribe-navegacion-enlaces li a {
    text-decoration: none;
    color: var(--space-color-text);
}
.caribe-navegacion-enlaces li a img{
    width: 50px;
    height: 50px;
}

/* Caribe Motor */
.caribe-motor {
    background-color: var(--space-color-primary);
    background-size: cover;
}
.caribe-motor .caribe-logotipo {
    max-width: 200px;
}

/* Space Contacto */
.caribe-contacto {
    text-transform: uppercase;
    font-size: 16px;
}
.caribe-contacto h2 {
    font-size: 18px;
    color: var(--space-color-primary);
}
.caribe-contacto-social {
    list-style: none;
    text-align: center;
    padding: 0;
}
.caribe-contacto-social li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.caribe-contacto-social li a {
    text-decoration: none;
    color: var(--space-color-text);
}
.caribe-contacto-social li a img{
    width: 50px;
    height: 50px;
}